version: '3'


services:
  auth-service:
    build: ./services/auth-service
    ports:
      - 5001:3000

  booking-service:
    build: ./services/booking-service
    ports:
      - 5002:3001

  company-service:
    build: ./services/company-service
    ports:
      - 5003:3002

  api-gateway:
    build: ./api-gateway
    ports:
     - 5000:4000
    depends_on:
      - booking-service
      - auth-service
    links:
      - company-service
      - booking-service
      - auth-service
