<nav *ngIf="authService.loggedIn()" class="navbar navbar-expand-sm navbar-dark bg-dark">

  <!-- Brand section-->
  <!-- <a class="navbar-brand" href="#">Cloudbooking</a> -->

  <!-- Toggle Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinksToCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links to collapse where {look at id} -->
  <div class="collapse navbar-collapse" id="navbarLinksToCollapse">

    <!-- Navbar items left  -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" (click)="callDashboardGetEmployees()">
          <i class="fas fa-users"></i>&nbsp; Employees
        </a>
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" (click)="callDashboardGetRooms()">
          <i class="fas fa-cube"></i>&nbsp; Rooms
        </a>
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" (click)="callDashboardCreateBooking()" data-toggle="modal" data-target="#exampleModal">
          <i class="fas fa-plus-square"></i>&nbsp; Create Booking
        </a>
      </li>
    </ul>
    <!-- Navbar items center with brand section -->
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="#">Cloudbooking</a>
    </div>
    <!-- Navbar items right -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="authService.loggedIn()">
        <!-- <a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a></li> -->
      <li class="nav-link dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Ogyun Dzhambazov&nbsp;<span class="fas fa-user"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Messages <span class="fas fa-envelope"></span></a></li>
          <li class="divider"></li>
          <li><a (click)="onLogoutClick()" href="#">Sign Out <span class="fas fa-sign-out-alt"></span></a></li>
        </ul>
      </li>
    </ul>

  </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New booking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Invite people:</label>
            <input type="text" class="form-control" required [(ngModel)] = "peopleInvited" name="peopleInvited">
          </div>
          <div class="form-group">
            <label for="date-time" class="col-form-label">Date and time:</label>
            <input type="text" class="form-control" id="date-time">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click) ="onSendClick()">Send message</button>
      </div>
    </div>
  </div>
</div>

<<script type="text/javascript">
  $('#exampleModal').on('show.bs.modal');
</script>
