a{
  cursor: pointer;
}
/* ng2-completer{
  float: left;
  width: 49%;
} */
#checkPeopleButton{
margin-top: -30px;
margin-right: 40px;
}
#checkEntityButton{
  margin-top: -50px;
  margin-right: 50px;
}
#checkPeopleLabel{
  margin-top: -67px;
  margin-right: 57px;
}
