<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

  <!-- Brand section-->
  <!-- <a class="navbar-brand" href="#">Cloudbooking</a> -->

  <!-- Toggle Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinksToCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links to collapse where {look at id} -->
  <div class="collapse navbar-collapse" id="navbarLinksToCollapse">

    <!-- Navbar items left  -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" (click)="sendArrayToAuthService('employee')">
          <i class="fas fa-users"></i>&nbsp; Employees
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" (click)="sendArrayToAuthService('entity')">
          <i class="fas fa-cube"></i>&nbsp; Rooms
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
          <i class="fas fa-plus-square"></i>&nbsp; Create Booking
        </a>
      </li>
    </ul>
    <!-- Navbar items center with brand section -->
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="#">Cloudbooking</a>
    </div>
    <!-- Navbar items right -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <!-- <a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a></li> -->
      <li class="nav-link dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">{{username}}&nbsp;<span class="fas fa-user"></span></a>
        <ul class="dropdown-menu">
          <li style="cursor:pointer" (click)="onMyBookingsClick()">My bookings <span class="fas fa-calendar-alt"></span> </li>
          <li class="divider"></li>
          <li><a (click)="onLogoutClick()" href="/peiterOlsen">Sign Out <span class="fas fa-sign-out-alt"></span></a></li>
        </ul>
      </li>
    </ul>

  </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New booking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div  class="form-group">
        <label for="event-starts" class="col-form-label">Title:</label>
        <input type="text" class="form-control" id="Title" required [(ngModel)] = "Title" name="Title" placeholder="enter event title">
        </div>
        <div class="form-group">
        <label for="event-starts" class="col-form-label">Event starts:</label>
        <angular2-date-picker [(ngModel)]="startDate" [settings]="startDateSettings" (onDateSelect)="onStartDateSelect($event)"></angular2-date-picker>
        </div>

        <div class="form-group">
        <label for="event-ends" class="col-form-label">Event ends:</label>
        <angular2-date-picker [(ngModel)]="endDate" [settings]="endDateSettings" (onDateSelect)="onEndDateSelect($event)"></angular2-date-picker>
         </div>

         <form>
          <div class="form-group">
            <div id="invite_people">
            <label for="recipient-name" class="col-form-label col-md-6">Invite people:</label>
            <ng2-completer placeholder="search for people" [(ngModel)]="searchStrEmployees" name="searchStrEmployees" [clearSelected]="true" [datasource]="dataServiceEmployees" (selected)="onItemSelectEmployee($event)" [minSearchLength]="0"> </ng2-completer>
            </div>

            </div>
              <ul class="list-group">
                <div *ngFor="let person of peopleInvited">
                  <li class="list-group-item list-group-item-action" data-toggle="tooltip">
                  {{person.name}}
                  <i *ngIf="person.available === 'true'" class="fas fa-check"></i>
                  <i *ngIf="person.available === 'false'" class="fas fa-times"></i>
                  <button *ngIf="username != person.name" type="button" class="btn btn-danger btn-sm float-right" style="cursor: pointer;" (click)="deleteUser(person.id)"> Delete</button>
                  </li>
            </div>
            </ul>


            <div class="form-group">
            <label for="recipient-name" class="col-form-label col-md-6">Select room:</label>
            <ng2-completer placeholder="search for rooms" [(ngModel)]="searchStrEntities" name="searchStrEntities" [clearSelected]="true" [datasource]="dataServiceEntities" (selected)="onItemSelectEntity($event)" [minSearchLength]="0"></ng2-completer>
            </div>

            <!-- <div  class="float-right">
            <button id="checkEntityButton" type="button" class="btn btn-light float-right" style="cursor: pointer;" (click)="sendSurvey(survey.ID)"> Check room availability</button>
            </div> -->
            <ul class="list-group">

                <li *ngIf="entity.selected" class="list-group-item list-group-item-action" data-toggle="tooltip">
                {{entity.name}}
                <i *ngIf="entity.available === 'true'" class="fas fa-check"></i>
                <i *ngIf="entity.available === 'false'" class="fas fa-times"></i>
                <button type="button" class="btn btn-danger btn-sm float-right" style="cursor: pointer;" (click)="deleteEntity()"> Delete</button>
                </li>

          </ul>

          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea [(ngModel)]="text" name="text" class="form-control" id="message"></textarea>
          </div>
            <div class="form-group">
              <input type="checkbox" id="checkbox" [(ngModel)]="checkbox" name="checkbox"> Send notification
          </div>
        </form>
      </div>

    <!-- <flash-messages></flash-messages> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click) ="onCloseBookingClick()">Close</button>
        <button type="button" class="btn btn-primary" (click) ="onCreateBookingClick()">Create</button>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#exampleModal').on('show.bs.modal');
</script>
