<app-navbar #navbarRef [company]="companyTag" (loadCalendarEvent)="createdBooking()" (saveBookingEvent)="saveBooking($event)" (viewMyBookingsEvent)="viewMyBookings()"></app-navbar>
<div class="row">

  <div class="col-md-6">
    <h2>List of {{entityListName}}</h2>
    <ul class="list-group">
      <div *ngFor="let entity of entityList">
        <li class="list-group-item list-group-item-action text-center " data-toggle="tooltip" [title]="entity">
          <button type="button" class="btn btn-light " style="cursor: pointer;" (click)="onListItemClick(entity)">{{entity.name}}</button>
        </li>
      </div>
    </ul>
  </div>

  <div class="col-md-6">
    <h2>{{calendarOwner.name}}'s calendar</h2>
    <div class="ng-fullCalendar" *ngIf="calendarOptions">
      <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)" (eventResize)="updateEvent($event.detail)" (dayClick)="dayClick($event.detail)" (clickButton)="clickButton($event.detail)"
        [(eventsModel)]="events"></ng-fullcalendar>
    </div>

  </div>

  <div class="modal fade" id="bookingDetailsModal" tabindex="-1" role="dialog" aria-labelledby="bookingDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="bookingDetailsModalLabel">New booking</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="event-starts" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="Title" required [(ngModel)]="Title" name="Title" placeholder="enter event title">
          </div>

          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message"></textarea>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onCreateBookingClick()">Create</button>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="viewport">
  <div class="list-group">
    <a class="list-group-item" href="#"><i class="fas fa-home fa-fw"></i>&nbsp; Home</a>
    <a class="list-group-item" href="#"><i class="fas fa-book fa-fw"></i>&nbsp; Library</a>

    <a class="list-group-item" href="#"><i class="fas fa-cog fa-fw"></i>&nbsp; Settings</a>
  </div>
</div> -->
